.dropdown-menu {
    background: #007f66;
    width: 200px;
    position: absolute;
    top: 80px;
    list-style: none;
    text-align: start; 
    border-radius: 6px;
  }
  
  .dropdown-menu li {
    background: #007f66;
    cursor: pointer;
  }
  
  .dropdown-menu li:hover {
    background: #007f66;
  }
  
  .dropdown-menu.clicked {
    display: none;
  }
  
  .dropdown-link {
    display: block;
    height: 100%;
    border-radius: 10px;
    width: 100%;
    text-decoration: none;
    color: white;
    padding: 16px;
  }
  
  @media screen and (max-width: 960px) {
    .fa-caret-down {
      display: none;
    }
  }

 