/* IndustrySlider.css */

.industries-slider-container {
    margin: 0 auto;
    max-width: 1000px;
  }
  
  .slick-slide img {
    width: 100%;
    border-radius: 5px;
  }
  
  .indus-des {
    margin-top: 10px;
    text-align: center;
  }
  
  /* Animation */
  .slick-slide {
    transition: transform 0.5s ease-out; /* Add animation to slide transition */
  }
  
  /* Media queries for responsiveness */
  @media screen and (max-width: 768px) {
    .slick-slide img {
      width: 80%;
      margin: 0 auto;
    }
  }
  
  @media screen and (max-width: 480px) {
    .slick-slide img {
      width: 90%;
    }
  }
  