.privacy-policy {
  max-width: 1100px;
  margin: 0 auto;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
  background-color: white;
 

}

.privacy-policy h2 {
  font-size: 1 rem;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

.privacy-policy p {
  font-size: 15px;
  color: #020d13;
  font-weight: 45s0;
  margin-bottom: 15px;
}

/* Style for headings within the paragraphs */
.privacy-policy p:first-child {
  font-weight: bold;
  text-decoration: underline;
}

/* Media query for responsiveness */
@media screen and (max-width: 768px) {
  .privacy-policy {
    padding: 15px;
    border-radius: 0;
  }

  .privacy-policy h2 {
    font-size: 1.5rem;
  }

  .privacy-policy p {
    font-size: 0.6rem;
  }
}

.privacy-cont {

  height: 60vh;
  height: 100vh;
  padding: 10px;
 
}

.privacy-cont-1{
  background-color: #e6f6ff;
  padding: 25px;
  max-width: 1100px;
  border-radius: 6px;
  margin-bottom: 20px;
}

.p-list-cont{
  padding-left: 40px;
  padding-top: 15px;
}